<div class="card text-white card-blue mb-3">
  <div class="card-header">
    Register
    <a class="card-header-link" routerLink="/login">Login</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Sign up to Battle Ship</h5>
    <div class="inputElement">
      <label for="email">Email: </label>
      <input id="email" class="card-input" type="text" placeholder="Login" />
    </div>
    <div class="inputElement">
      <label for="password">Password: </label>
      <input id="password" class="card-input" type="password" placeholder="Password" />
    </div>
    <div class="inputElement">
      <label for="confirmPassword">Confirm Password: </label>
      <input id="confirmPassword" class="card-input" type="password" placeholder="Confirm Password" />
    </div>
    <div class="inputElement">
      <label for="part">Choose part: </label>
      <select id="part">
        <option value="0">Pirate</option>
        <option value="1">Military</option>
      </select>
    </div>

  </div>
</div>
