<div class="card text-white card-blue mb-3">
  <div class="card-header">
    <span>Login</span>
    <a class="card-header-link" routerLink="/register">Register</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Sign in to Battle Ship</h5>
    <div class="inputElement">
      <label for="email">Login: </label>
      <input id="email" class="card-input" type="text" placeholder="Login" />
    </div>
    <div class="inputElement">
      <label for="password">Password: </label>
      <input id="password" class="card-input" type="password" placeholder="Password" />
    </div>
  </div>
</div>
